.banner-container {
  background-color: $primaryAccentColor;
  color: #fff;
  padding: 70px 0px;
  text-align: center;
  position: relative;
  margin-top: 140px;

  & > * {
    margin: 15px;
  }

  h4 {
    font-size: 1.6rem;

    @media (min-width: 992px) {
      font-size: 2.2rem;
    }
  }

  h4,
  button {
    position: relative;
    z-index: 3;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  &-img-mobile {
    width: calc(100% + 20px);
    margin-left: -10px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &-img-desktop {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}
