/* .app {
  * {
    border: 1px solid lightgray;
  }
} */

.app {
  @media (max-width: 580px) {
    overflow: hidden;
  }

  @media (min-width: 768px) {
    & > main > .container {
      // Styles makes sure the background color goes beyond the container width
      & > .nav,
      & > .hero-container {
        background-color: #fff;
        box-shadow: 0 0 0 100vmax #fff;
        clip-path: inset(0 -100vmax);
      }
    }
  }
}

body {
  font-family: $fontFamily;
  box-sizing: border-box;
  background-color: #f7f6f6;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $fontWeightBold;
}

.cta {
  padding: 14px 33px;
  border: none;
  background-color: $primaryColor;
  color: #fff;
  font-weight: $fontWeightBold;
  border-radius: 30px;

  &:hover {
    background-color: lighten($color: $primaryColor, $amount: 15);
  }

  &-copied {
    background-color: $primaryAccentColor;

    &:hover {
      background-color: $primaryAccentColor;
      cursor: auto;
    }
  }
}

p {
  color: $bgAccent;
  font-size: clamp(16px, 2vw, 18px);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}
