.fa-bars,
.fa-xmark {
  font-size: 1.7rem;
  color: $bgAccent;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav-line {
  width: 100%;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav {
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 70px 0px;
  position: relative;

  li {
    @media (max-width: 768px) {
      color: #fff;
      font-size: 1.2rem;
    }
    color: $bgAccent;
    font-weight: $fontWeightBold;
    &:hover {
      color: $darkBg;
      cursor: pointer;
    }
  }

  &-routes {
    display: flex;
    flex-grow: 1;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0px;
      gap: 20px;

      @media (min-width: 768px) {
        margin: 0px 0px 0px 30px;
      }
    }

    &.active {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110px;
        width: 100%;
        background-color: $primaryAccentColor;
        color: #fff;
        font-weight: $fontWeightBold;
        border-radius: 10px;
        padding: 40px;
      }
    }

    @media (max-width: 768px) {
      & > * {
        padding: 0px;
        flex-direction: column;
        align-items: center;
        width: 240px;
        margin: 20px auto;
      }
    }
  }

  &-login {
    display: flex;
    margin-left: auto;
    align-items: center;

    & > .cta {
      width: 100%;
      @media (min-width: 768px) {
        margin-left: 35px;
      }

      @media (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}
