.shortener {
  transform: translateY(-110px);

  @media (min-width: 992px) {
    transform: translateY(-75px);
  }
}

.shortener-container {
  background-color: $primaryAccentColor;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @media (min-width: 992px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px;
  }

  @media (min-width: 1400px) {
    button {
      flex-basis: 13%;
    }
  }

  & > * {
    margin: 10px 0px;
  }

  & > .cta {
    border-radius: 5px;
  }

  input {
    padding: 13px;
    border-radius: 5px;
    border: none;

    @media (min-width: 992px) {
      flex-basis: 78%;
      margin-right: 30px;
    }
  }

  input,
  button {
    z-index: 2;
  }

  & > .input-error {
    border: 4px solid $alertColor;

    &::placeholder {
      color: $alertColor;
      opacity: 0.6;
      font-weight: $fontWeightMedium;
    }

    &-message-mobile,
    &-message-desktop {
      color: $alertColor;
      font-style: italic;
      margin-top: 0px;
      margin-bottom: 10px;
      flex-basis: 93%;
      z-index: 5;
    }

    &-message-mobile {
      display: block;
      @media (min-width: 992px) {
        display: none;
      }
    }

    &-message-desktop {
      display: none;
      @media (min-width: 992px) {
        display: flex;
        z-index: 3;
      }
    }

    &-hidden {
      display: none;
    }
  }

  &-bg-image-mobile,
  &-bg-image-desktop {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
  }

  &-bg-image-mobile {
    @media (min-width: 992px) {
      display: none;
    }
  }

  &-bg-image-desktop {
    height: 100%;
    width: 100%;
    @media (max-width: 992px) {
      display: none;
    }
  }
}

.output-links {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  font-weight: $fontWeightMedium;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
    padding: 14px 20px;
    font-size: 1.15rem;
  }

  & > .cta {
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;

    @media (min-width: 992px) {
      flex-basis: 15%;
      margin-top: 0px;
    }
  }

  & > *:nth-child(3) {
    color: $primaryColor;
  }

  &-added {
    flex-basis: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-rendered {
    @media (min-width: 992px) {
      margin: 0px 20px;
    }
  }
}
