// Colors
$primaryColor: hsl(180, 66%, 49%);
$primaryAccentColor: hsl(257, 27%, 26%);

$alertColor: hsl(0, 87%, 67%);

$bgColor: hsl(0, 0%, 75%);
$bgAccent: hsl(257, 7%, 63%);
$darkBg: hsl(255, 11%, 22%);
$darkBgAccent: hsl(260, 8%, 14%);

// Font
$fontFamily: "Poppins", sans-serif;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
