// Colors
$primaryColor: hsl(180, 66%, 49%);
$primaryAccentColor: hsl(257, 27%, 26%);

$alertColor: hsl(0, 87%, 67%);

$bgColor: hsl(0, 0%, 75%);
$bgAccent: hsl(257, 7%, 63%);
$darkBg: hsl(255, 11%, 22%);
$darkBgAccent: hsl(260, 8%, 14%);

// Font
$fontFamily: "Poppins", sans-serif;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

// Shadows
@mixin shadow-elevation-low {
  box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.34), 0.4px 0.8px 1px -1.2px hsl(0deg 0% 63% / 0.34), 1px 2px 2.5px -2.5px hsl(0deg 0% 63% / 0.34);
}

@mixin shadow-elevation-medium {
  box-shadow: 0.3px 0.5px 0.5px hsl(0deg 0% 63% / 0.54), 0.6px 1.2px 1.3px -1.2px hsl(0deg 0% 63% / 0.45), 1.9px 3.7px 3.9px -2.5px hsl(0deg 0% 63% / 0.36), 5px 10px 10.5px -3.7px hsl(0deg 0% 63% / 0.27);
}

@mixin shadow-elevation-high {
  box-shadow: 0.3px 0.5px 0.5px hsl(0deg 0% 63% / 0.5), 0.9px 1.8px 1.9px -0.5px hsl(0deg 0% 63% / 0.46), 1.8px 3.5px 3.7px -1.1px hsl(0deg 0% 63% / 0.42), 3.3px 6.7px 7px -1.6px hsl(0deg 0% 63% / 0.38), 6px 12px 12.6px -2.1px hsl(0deg 0% 63% / 0.34), 10.2px 20.4px 21.4px -2.7px hsl(0deg 0% 63% / 0.29), 16.4px 32.8px 34.4px -3.2px hsl(0deg 0% 63% / 0.25), 25px 50px 52.4px -3.7px hsl(0deg 0% 63% / 0.21);
}
